<%- include('partials/header') %> 
<%- include('partials/navbar') %> 

<div class=" container">
    <hr>
    <img src="/media/img.jpeg" alt="" style="height: 400px; float: left; margin-right: 20px">

    <br><br>
        <p> "A alegria não chega apenas no encontro do achado, mas faz parte do processo da busca.
            <br>E ensinar e aprender não podem dar-se fora da procura, fora da boniteza e da alegria."  <br> Paulo Freire</p>

</div>

<%- include('partials/footer') %> 